[Unit]
Description=Run NFTables Blocklist Importer daily

[Timer]
# Run once a day at 3 AM
OnCalendar=*-*-* 03:00:00
# Randomize by up to 2 hours to prevent thundering herds on public APIs
RandomizedDelaySec=7200
Persistent=true

[Install]
WantedBy=timers.target
