[Unit]
Description=NFTables Blocklist Importer
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/import-blocklists.py
StandardOutput=journal
StandardError=journal
